<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>ERP || Work from home approval</title>
</head>
<p>Dear {{name}},</p>

<p>I am writing to confirm that your request to {{leaveType}} work from home has been approved. We appreciate your
	interest in taking advantage of our work-from-home policy and hope that it will help you to balance your work and
	personal commitments better.</p>

<p>Your request has been approved for the following period: {{fromDate}} to {{endDate}}. Please ensure that you have a
	stable internet connection, the necessary hardware and software, and a suitable workspace to perform your work
	duties.</p>

<p>Please keep in mind that you are required to adhere to the same work schedule, policies, and procedures as you would
	in the office. Moreover, your supervisor {{appovedBy}} will be available to you as needed and will monitor your work
	progress as usual.</p>

<p>If you have any concerns or questions, please do not hesitate to contact your supervisor or HR department. We wish
	you all the best during this WFH period and hope that it proves to be a productive and efficient arrangement for
	you.</p>

<p>Best regards,</p>

<p>{{appovedBy}}</p>
</body>

</html>