<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>ERP || Work from home Decline</title>
</head>
<p>Dear {{name}},</p>

<p>I regret to inform you that your request to {{leaveType}} work from home from {{fromDate}} to {{endDate}} has been
	declined. After careful consideration of your request, we have concluded that it is not possible to grant you the
	requested work-from-home arrangement at this time.</p>

<p>{{reason}}</p>

<p>Please be assured that we understand the importance of work-life balance and the benefits of a WFH arrangement.
	However, based on the business needs and circumstances, we cannot grant your request at this time.</p>

<p>If you have any concerns or questions, please do not hesitate to contact your supervisor or HR department. We
	appreciate your understanding and cooperation in this matter.</p>

<p>Best regards,</p>

<p>{{appovedBy}}</p>
</body>

</html>