<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>ERP || Leave request Approval</title>
</head>

<body>
	<p>Dear {{name}},</p>

	<p>I am writing to inform you that your request for {{leaveType}} from {{fromDate}} to {{endDate}} has been
		approved. We understand the importance of this leave to you and we wish you all the best during your time off.
	</p>

	<p>Please make sure that all pending tasks are completed and delegated to your colleagues. Your supervisor
		{{appovedBy}} has been notified of your leave, and we will make sure that all necessary arrangements are made to
		ensure that your absence does not cause any significant disruption to our projects.</p>

	<p>I hope that you will use this time to rest and recharge, and come back to work refreshed and energized. If there
		are any concerns or questions, please do not hesitate to contact your supervisor or HR department.</p>

	<p>Thank you for your dedication and hard work, and we look forward to seeing you back at work soon.</p>

	<p>Best regards,</p>

	<p>{{appovedBy}}</p>
</body>

</html>