<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>ERP || Leave request Decline</title>
</head>

<p>Dear {{name}},</p>

<p>I regret to inform you that your request for {{leaveType}} from {{fromDate}} to {{endDate}} has been declined. After
    carefully considering your request, we have concluded that it is not possible to grant you the requested leave at
    this time.</p>

<p>{{reason}}</p>

<p>Please be assured that we understand the importance of your leave, and we regret any inconvenience caused. We
    encourage you to reschedule your leave request for a time when it would be more feasible to accommodate your
    request.</p>

<p>If you have any concerns or questions, please do not hesitate to contact your supervisor or HR department. We
    appreciate your understanding and cooperation in this matter.</p>

<p>Best regards,</p>

<p>{{appovedBy}}</p>
</body>

</html>